body {
  background-color: #0a0a23;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}

#logo {
  color: #1d0159;
  font-size: 200%;
  font-style: italic;
  margin-left: 45%;
}

#game {
  max-width: 65%;
  max-height: 60%;
  background-color: #ffffff;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
  border-radius: 5px;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

#eqStats {
  display: none;
  margin: auto;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #1d1d31;
  flex-direction: column;
}

.stat {
  padding-right: 10px;
  padding-top: 5px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
}